<!DOCTYPE <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SOCGLO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel="stylesheet" href="/static/login.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <!--<script src="main.js"></script>-->
</head>

<body>
    <!--1536px-->
    <table id="win">
        <tr>
            <th width="50%">
                <!--left......768px-->
                
                <table>
                    <tr>
                        <th id="width">
                            <img src="/static/socglologo.png" id="logo">
                        </th>
                        <th id="width">

                        </th>
                        <th id="width">
                        </th>
                    </tr>
                </table>
                <br>
                <img src="/static/enjoy with us.png" id="en">
                <br>
                <table>
                    <tr>
                        <th id="width">
                        </th>
                        <th id="width">
                            <form class="form-inline my-2 my-lg-0" id="pass" action="/login" method="POST">
                            <input class="form-control mr-sm-2" placeholder="PASSWORD" type="password" name="pass" id="pass">
                            <button class="btn my-2 my-sm-0" type="submit" id="log">
                                LOGIN
                            </button>
                            </form>
                        </th>
                        <th id="width">
                        </th>
                    </tr>
                </table>
            </th>
            <th width="50%">
                <!--right-->
                <img src="/static/S__105627654.jpg" id="pic">
            </th>
        </tr>
    </table>
</body>

</html>