<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/1.css">
    <title>NAME&SEEFA </title>
</head>

<body id="color">
    <nav class="navbar navbar-expand-lg navbar-cg bg-light">
        <h1 class="navbar-brand" href="#">
            <img src="logo.png" width="45" height="45">
            <button class="btn btn-outlne-white bg-light my-2 my-sm-0" type="submit" id="head1">
                SOCGLO
        </button>
        </h1>
        <div class="collapse navbar-collapse" id="side">
            <button class="btn btn-outlne-white bg-light my-2 my-sm-0" type="submit">
                <img src="logout.png" width="40" height="40">
            </button>
        </div>
    </nav>
    <div class="row">
        <div class="col-md-6 float-left" id="corner1">
            <a href="/main"> 
                    <img src="gloves.png" width="400" height="400">
            </a>
            <!---
            <button class="btn btn-outlne-white bg-light my-2 my-sm-0" type="submit" id="corner">
                <img src="gloves.png" width="400" height="400">
            </button> -->
        </div>
        <!--/.col-->
        <div class=" col-md-6 float-right" id="corner2">
            <a href="/main"> 
                <img src="football.png" width="400" height="400">
            </a>
            <!---
            <button class="btn btn-outlne-white bg-light my-2 my-sm-0" type="submit" id="corner">
            </button> -->
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
<body>


</html>