<!DOCTYPE html>
<html>
<head>
    <title>Fuck!!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel=stylesheet type=text/css media=screen href="{{ url_for('static', filename='Table.css') }}">
    <script src="main.js"></script>
    <style>
            @import url('https://fonts.googleapis.com/css?family=Catamaran');
            @import url('https://fonts.googleapis.com/css?family=Indie+Flower');
                      
    </style>
</head>
<body>
                

        <p align = "right">
        <table class="greyGridTable">
                <thead>
                        <tr>
                                <th>name</th>
                                <th>dominant foot</th>
                                <th>position</th>
                                <th>FieldGoal</th>
                                
                                
                        </tr>
                </thead>
                <tfoot></tfoot>
                <tbody>
                                {%for data in playerS%}  
                                       {% for s in statS %} 
                                       {%if s.player_id==data.id%}    
                                        <tr>               
                                                <td>{{data.name}}</td>
                                                <td>{{data.foot}}</td>
                                                <td>{{data.position}}</td>
                                                <td>{{s.fieldgoal}}</td>
                                        </tr>
                                        {%endif%}
                                        {%endfor%}
                                {% endfor %}
                </tbody>
        </table>
                
       
        </p>
        <a class="B1" href='{{ url_for('footballRegister') }}'>Hello</a>
            </body>
    </html>
    
